{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}

    <!-- Dark mode button -->
  <button class="button2" onclick="toggleDarkMode()">Light mode</button>
  <br><br>
  <h1>Food Forum</h1>
{% if logged_in %}
  <form action="/post" method='POST'>
    Name of your Favorite Food<br>
    <input type="text" name="Subject" id="1">
    <br>
    Write about your favorite food<br>
    <input type="text" name="Body" id="2">
    <br>
    <input type="submit">
  </form>
  <br>
{% endif %}
  {{ post }}
{% endblock %}
